<h2>Create new course</h2>
<form>
  <div class="mb-3">
    <label class="form-label">Course name</label>
    <input id="courseName" type="email" class="form-control" id="courseName" aria-describedby="emailHelp">
  </div>
  <br>
  <label class="form-label">Course language</label>
  <select id="courseLanguage" class="form-select" aria-label="Default select example">
    <% @languages = Language.all %>
    <% @languages.each do |language| %>
      <option value="<%=language.lang_code%>"><%=language.name%></option>
    <% end %>
  </select>
  <br>
  <label class="form-label">Course image</label>

  <div class="custom-file">
    <input type="file" class="custom-file-input" id="exampleInputFile" accept="image/x-png,image/jpeg">
    <label class="custom-file-label" for="exampleInputFile" data-browse="Browse images">Select course image</label>
  </div>
  <br><br>
  <button type="submit" class="btn btn-primary">Create course</button>
</form>