<div id="courses"></div>
			<!-- Course list -->
<h2>Select course
<% if session[:user_id] == nil || session[:user_id] == 0 %>
	&nbsp;&nbsp;&nbsp;<button type="create-course-button" class="btn btn-info" onclick="location.href='/courses/create';" value="Create course">Create course</button>
<% end %>
</h2>
<% if @courses.size == nil || @courses.size == 0 %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No courses found!</h4>
    <strong>No courses found for specified language!</strong></strong>
  </div>
  <br/>
<% else %>
<% end %>
			<div class="select-course">
				<% @courses.each do |course| %>
				<div class="card" style="width: 10rem;">
				<%= link_to(image_tag(course.img_url, class:"card-img-top", alt: course.name), "/courses/#{course.id}") %>
				<div class="card-body">
				<h5 class="card-title"><%= course.name %></h5>
				<p class="card-text"><%= course.description %></p>
				</div>
				</div>
				<% end %>
				
</div>
