<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
<h1>Login</h1>

<% if session[:user_id] == nil || session[:user_id] == 0 %>

<form action="/users/login" method="POST">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>"><br/>
  E-mail:<br/>
  <input type="email" name="login[email]" placeholder="email"><br/>
  Password:<br/>
  <input type="password" name="login[password]" placeholder="password"><br/>
  <br/>
  <input type="submit" name="submit" class="submit"><br/>
</form>
<br/>

<div class="errors">
  <% if flash[:login_errors] %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Login failed!</h4>
    <% flash[:login_errors].each do |error| %>
     <strong><%= error %></strong>
    <%end %>
    </div>
  <% end %>

</div>

<% else %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Forbidden</h4>
    <strong>You are already logged in.</strong>
  </div>
<% end %>

</body>
</html>