<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
</head>

<body>
<h1>Registration</h1>

<% if session[:user_id] == nil || session[:user_id] == 0 %>

  <form action="/users/register" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    Name:</br>
    <input type="name" name="user[name]" placeholder="name"><br/>
    E-mail:<br/>
    <input type="email" name="user[email]" placeholder="email"><br/>
    Password:<br/>
    <input type="password" name="user[password]" placeholder="password"></br>
    Confirm password:<br/>
    <input type="password" name="user[password_confirmation]" placeholder="password_confirmation"><br>
    <br/>
    <input type="submit" name="submit" class="submit">
  </form>

  <div class="errors">
    <% if flash[:register_errors] %>
      <% flash[:register_errors].each do |error| %>
        <p><%= error %></p>
      <%end %>
    <% end %>
  </div>

<% else %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Forbidden</h4>
    <strong>Multiple accounts are not allowed.</strong>
  </div>
<% end %>

</body>
</html>