<div class="content-dictionary">
  <br/><h2 id="word" style="text-align: center">Nikkila Dictionary</h2><br/>
  <div class="input-group input-group-lg">
    <input type="text" id="searchBox" class="form-control" aria-label="Label" aria-describedby="inputGroup-sizing-sm">
  </div><br/><br/>
</div>

<div class="result" id="result">
  <ul>
   <% if @dictionaries != nil
        @dictionaries.each do |dictionary| %>
        <li><%=dictionary.word %> - <%=dictionary.translation %></li>
    <% end %>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
    var word = "";
    $("document").ready(function() {
        $("#searchBox").unbind('keyup').keyup(function(event) {
            if (event.keyCode === 13) {
                word = $('#searchBox').val();
                $.ajax({
                    url: '/dictionary/search',
                    type: 'POST',
                    data: {
                        word: word
                    },
                    success: function(r) {
                        $("#result").html(r);
                    }
                });
                return false;
            }
        });
    });
</script>