<p id="notice"><%= notice %></p>

<h1>Dictionary entries</h1>

<table>
  <thead>
    <tr>
      <th>Lang1</th>
      <th>Lang2</th>
      <th>Word</th>
      <th>Translation</th>
      <th>Type</th>
      <th>Extra</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dictionaries.each do |dictionary| %>
      <tr>
        <td><%= dictionary.lang1 %></td>
        <td><%= dictionary.lang2 %></td>
        <td><%= dictionary.word %></td>
        <td><%= dictionary.translation %></td>
        <td><%= dictionary.type %></td>
        <td><%= dictionary.extra %></td>
        <td><%= dictionary.status %></td>
        <td><%= link_to 'Show', dictionary %></td>
        <td><%= link_to 'Edit', edit_dictionary_path(dictionary) %></td>
        <td><%= link_to 'Destroy', dictionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dictionary', new_dictionary_path %>
