<p id="notice"><%= notice %></p>

<p>
  <strong>Lang1:</strong>
  <%= @dictionary.lang1 %>
</p>

<p>
  <strong>Lang2:</strong>
  <%= @dictionary.lang2 %>
</p>

<p>
  <strong>Word:</strong>
  <%= @dictionary.word %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @dictionary.translation %>
</p>

<p>
  <strong>Type:</strong>
  <%= @dictionary.type %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @dictionary.extra %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dictionary.status %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
