<div class="content-dictionary">
  <br/><h2 id="word" style="text-align: center">Nikkila Writer</h2><br/>
  <div class="input-group input-group-lg">
    <textarea id="writeBox" rows="10" class="form-control" aria-label="Label" aria-describedby="inputGroup-sizing-sm"></textarea>
  </div><br/><br/>
</div>

<div class="result" id="result">
  <ul>
   <% if @dictionaries != nil
        @dictionaries.each do |dictionary| %>
        <li><%=dictionary.word %> - <%=dictionary.translation %></li>
    <% end %>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
    var word = "";
    var dictionary = {};
    dictionary['house'] = 'czira';
    dictionary['girl'] = 'mirmila';
    dictionary['boy'] = 'maszira';
    dictionary['beautiful'] = 'sunele';
    dictionary['clever'] = 'minre';
    dictionary['person'] = 'uczna';
    dictionary['I'] = 'An';
    dictionary['You'] = 'Rit';
    dictionary['you'] = 'rit';
    dictionary['he'] = 'lit';
    dictionary['she'] = 'sit';
    dictionary['He'] = 'Lit';
    dictionary['She'] = 'Sit';
    dictionary['sleep'] = 'elsi';
    dictionary['now'] = 'źimda';
    dictionary['today'] = 'asna';
    dictionary['yesterday'] = 'kirla';
    dictionary['tomorrow'] = 'amra';
    dictionary['are'] = 'ima';
    dictionary['is'] = 'ima';
    dictionary['am'] = 'ima';
    dictionary['here'] = 'elsz';
    dictionary['there'] = 'ardz';

    $("document").ready(function() {
        var lastChar = 0;
        $("#writeBox").unbind('keyup').keyup(function(event) {
            console.log(event.keyCode);
            if (event.keyCode === 64 || ( event.keyCode === 50 && lastChar === 16)) {
                word = $('#writeBox').val();
                if(word.indexOf("@") !== -1){
                    wordArray = word.split(" ");
                    lastWord = wordArray.at(-1).trim().slice(0,-1);
                    if(lastWord == ""){
                        lastWord = wordArray.at(-2).trim().slice(0,-1);
                    }
                    if(dictionary.hasOwnProperty(lastWord)){
                        newWord = dictionary[lastWord]
                        word = word.replace(lastWord+"@", newWord);
                        $("#writeBox").val(word);
                        /*
                        if(word.slice(-3,-2) == 'i'){
                            $("#writeBox").val(word.slice(0,-2));
                        } else {
                            $("#writeBox").val(word);
                        }
                        */
                    }
                }
            }
            lastChar = event.keyCode;
        });
    });
</script>
