<div id="lessons"></div>

<div id="course-id" data-course-id="<%= @course.id %>"></div>

<% if @lessons.size == nil || @lessons.size == 0 %>
  <div class="alert alert-warning" role="warning">
    <h4 class="alert-heading">No lessons found!</h4>
    <p><strong>Please add at least one lesson!</strong></p>
  </div>
  <br/>
<% else %>
  <h2>Editing <%= @course.name %></h2>
<% end %>

<div class="lesson-list"></div>
<ul class="list-group" id="ul-lessons">
  <% @lessons.each do |lesson| %>
    <li class="list-group-item" id="<%= lesson.id %>" data-course-id="<%=@course.id%>"><%= link_to(lesson.name, "/courses/#{lesson.course_id}/#{lesson.id}/edit") %><p align="right"><a class="btn" href='javascript:void(0)' onclick="editLesson(<%=lesson.id%>,<%=@course.id%>)"><i class="fas fa-2x fa-edit icon-align-center"></i></a>&nbsp;&nbsp;&nbsp;<a class="btn" href='javascript:void(0)' onclick="deleteLesson(<%=lesson.id%>,<%=@course.id%>)"><i class="fas fa-2x fa-trash icon-align-center"></i></a></p></li>
  <% end %>
</ul>
<br/>
<div class="input-group mb-3">
  <input id="new-lesson-text" type="text" class="form-control" placeholder="" aria-label="Lesson name" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button id="add-new-lesson" data-course-id="<%=@course.id %>" class="btn btn-outline-success" type="button">Add lesson</button>
  </div>
</div>
</br>
<button id="save-data-button" type="button" class="btn btn-primary btn-lg btn-block">Save lesson order</button>

</div>

<script type="text/javascript">

  function saveNewName(lessonId, courseId){
      var newValue = $("#input"+lessonId).val().trim();
      $.ajax({
          url: '/lesson/rename',
          type: 'PATCH',
          data: { course_id: courseId, lesson_id: lessonId, new_name: newValue, authenticity_token: $('[name="csrf-token"]')[0].content },
          success: function(r){ location.reload() }
      });
  }

  function editLesson(lessonId, courseId){
      var oldName = $("#"+lessonId).text().trim();
      $("#"+lessonId).html("<div class=\"input-group mb-3\">"+
          "<input id=\"input"+lessonId+"\" type=\"text\" class=\"form-control\" value=\""+oldName+"\" placeholder=\""+oldName+"\" aria-label=\""+oldName+"\" aria-describedby=\"basic-addon2\">"+
          "<div class=\"input-group-append\">"+
          "<button onclick=\"saveNewName("+lessonId+",<%=@course.id %>)\" class=\"btn btn-outline-secondary\" type=\"button\">Save</button>"+
          "</div></div>");
  }
</script>

<script type="text/javascript">
    function deleteLesson(lessonId, courseId){
        $.ajax({
            url: '/lesson/delete',
            type: 'DELETE',
            data: { course_id: courseId, lesson_id: lessonId, authenticity_token: $('[name="csrf-token"]')[0].content },
            beforeSend:function(){
                return confirm("Are you sure you want to delete this lesson?");
            },
            success: function(r){ location.reload() }
        });

    }
</script>