<div id="lessons"></div>

<% if @lessons.size == nil || @lessons.size == 0 %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No lessons found!</h4>
    <p><strong>This course is not completed yet!</strong></p>
  </div>
  <br/>
  <% else %>
  <h2><%= @course.name %></h2>
  <% end %>

<div class="lesson-list"></div>
<ul class="list-group">
  <% @lessons.each do |lesson| %>
    <li class="list-group-item"><%= link_to(lesson.name, "/courses/#{lesson.course_id}/#{lesson.id}") %></li>
  <% end %>

</ul>

<br/>
<input type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/courses/<%=@course.id %>/edit';" value="Edit course"  />
</div>
