<p id="notice"><%= notice %></p>

<h1>Words</h1>

<table>
  <thead>
    <tr>
      <th>Lang1</th>
      <th>Lang2</th>
      <th>Word</th>
      <th>Translation</th>
      <th>Extra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.lang1 %></td>
        <td><%= word.lang2 %></td>
        <td><%= word.word %></td>
        <td><%= word.translation %></td>
        <td><%= word.extra %></td>
        <td><%= link_to raw('<i class="fas fa-eye"></i> Show'), word %></td>
        <td><%= link_to raw('<i class="fas fa-edit"></i> Edit'), edit_word_path(word) %></td>
        <td><%= link_to raw('<i class="fas fa-trash"></i> Delete'), word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
