<p id="notice"><%= notice %></p>

<p>
  <strong>Lang1:</strong>
  <%= @word.lang1 %>
</p>

<p>
  <strong>Lang2:</strong>
  <%= @word.lang2 %>
</p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @word.translation %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @word.extra %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
