body {
    background-color: #F2F2F2;
    color: #D3D3D3;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
    font-size: 100%
}

a:link, a:visited {
    text-decoration: none;
    font-size: 100%;
}

a:hover, a:active {
    text-decoration: none;
    font-size: 100%;
}

.disabled, .disabled:link, .disabled:hover, .disabled:active, .disabled:visited {
    color: black;
    text-decoration: line-through;
    pointer-events: none;
    cursor: default;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.header img {
    width: 20%;
    margin: 2px 0;
}

.header nav {
    background-color: #006994;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.bottomnav nav {
    background-color: #F2F2F2;
    height: 320px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.header nav ul {
    list-style: none;
    margin: 0 auto;
}

.bottomnav ul li {
    list-style: none;
    margin: 5px;
    padding: 5px;
    font-size: 125%;

}

.header nav ul li, #mainnav nav ul li {
    float: left;
    display: inline;
}

.header nav a:link, .header nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 40px;
}

.header nav a:hover, .header nav a:active, .header nav .active a:link, .header nav .active a:visited {
    background-color: #3895D3;
    text-shadow: none;
}

.header nav ul li a, #mainnav {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content {
    width: 75%;
    float: right;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}


.topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    color: black;
}

.left-sidebar {
    width: 25%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-top: 3%;
    text-align: center;
    font-weight: bold;
    color: #006994;

}

.left-sidebar a {
    color: black;
    margin: 5px 15px ;
    text-align: center;
    width: 18px;
    height: auto;
    color: #006994;
}

.left-sidebar a:hover {
    color: white;
}

.left-sidebar img {
    width: 30%;
    max-width: 10%;
}

.left-sidebar a:hover, .left-sidebar a:active, .left-sidebar .active a:link, .left-sidebar .active a:visited {
    background-color: #3895D3;
    text-shadow: none;
}

.footer {
    width: 100%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #006994;
    margin: 2% 0;
}

.footer p {
    width: 90%;
    margin: 10px auto;
    color: #FFF;
}

.mainlogo {
    display: inline;
    color: #006994;
}

.select-lesson .card {
    display: inline-block;
}

.select-course .card {
    display: inline-block;
}

@media only screen and (min-width: 670px) and (max-width: 1240px){

    .left-sidebar {
        text-align: center;
    }

    .left-sidebar img {
        display: inline-block;
        height: 20px;
        float: left;
        overflow: auto;
    }

    .header nav {
        height: 80px;
    }

    .content {
        float: right;
    }
}

@media only screen and (min-width: 150px) and (max-width: 670px)
{
    .body {
        width: 90%;
        font-size: 120%;
    }

    .header img {
        width: 100%;
    }

    .header nav {
        height: 320px;
    }

    .header nav ul {
        padding-left: 0
    }

    .header nav ul li {
        width: 100%;
        text-align: center;
    }

    .header nav a:link, .header nav a:visited {
        color: #FFF;
        display: block;
        padding: 10px 25px;
        height: 40px;
    }

    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }

    .topcontent {
        background-color: #FFF;
        padding: 3% 5%;
        margin-top: 2%;
        margin-bottom: 4%;
    }

    .left-sidebar {
        width: 94%;
        margin: 2% 0 2% 0;
        padding: 2% 3%;
    }

    .mainlogo h1 {
        display: none;
        color: #006994;
    }

}