<!DOCTYPE html>
<html>
<head>
  <title>Reviews</title>
</head>
<body>

<% word_count = 0 %>
<% if cookies[:lang1] != nil
     lang1 = cookies[:lang1]
   else
     lang1 = "en"
   end
   if cookies[:lang2] != nil
     lang2 = cookies[:lang2]
   else
     lang2 = "pl"
   end
%>

<div class="content-words">
  <br/><h2 id="question_word" style="text-align: center">Question</h2><br/>
  <div class="input-group input-group-lg">
  <input type="text" id="answerBox" class="form-control" aria-label="Label" aria-describedby="inputGroup-sizing-sm">
  </div><br/><br/>
  <div id="total-progress-bar" class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div></div>
</div>
<%
  # Generate Javascript arrays for word table
  words_js = "var words = ["
  if @words.empty?
    words_js = "var words = []"
  else
      @words.each do |word|
      words_js << "{key: '#{word.word}', val: '#{word.translation}'},"
    end
      words_js[-1] = "];"
  end

%>

<script type="text/javascript">
    $(document).ready(function(){
    <%= words_js.html_safe %>
        var lang1 = "<%=lang1 %>";
        var lang2 = "<%=lang2 %>";

        var element;
        let current_word = "";
        let current_answer = "";
        let goodAnswers = 0;
        let badAnswers = 0;
        let totalQuestions = words.length;

        var badWords = [];

        /*
        Function used to shuffle an array
        */

        function shuffle(array) {
            let counter = array.length;
            // While there are elements in the array
            while (counter > 0) {
                // Pick a random index
                let index = Math.floor(Math.random() * counter);
                // Decrease counter by 1
                counter--;
                // And swap the last element with it
                let temp = array[counter];
                array[counter] = array[index];
                array[index] = temp;
            }
            return array;
        }

        words = shuffle(words);

        function showFinishScreen() {
            $(".content-words").html("<br/><div class=\"alert alert-success\" role=\"alert\"><b>You have succesfully reviewed all the words!</b></div><br/><br/>" +
              "<div id=\"total-progress-bar\" class=\"progress-bar bg-success\" role=\"progressbar\" style=\"width: 100%;\" aria-valuenow=\"100\" aria-valuemin=\"0\" aria-valuemax=\"100\">100%</div></div>");
        }

        /*
        Calculate percentage value (for progressbar)
        */

        function getPercentage(current, total) {
            return Math.floor(current * 100 / total);
        }

        function setProgressBars() {
            let percent = getPercentage(goodAnswers, totalQuestions);
            $("#total-progress-bar").css("aria-valuenow", "\"" + percent + "\"");
            $("#total-progress-bar").css('width', percent + "%");
            $("#total-progress-bar").html(percent + " %");
        }

        function moveToNextWord() {
            getNextWord(words)
        }

        function getNextWord(words) {
            if (words.length > 0) {
                element = words.pop();
                current_word = element.val;
                current_answer = element.key;
                prepareWritingField();
            } else {
                showFinishScreen();
            }
        }

        /**
         Prepare writing box
         */

        function prepareWritingField() {
            $("#question_word").html(current_word);
            $("#answerBox").focus();
            $("#answerBox").val("");
            $("#answerBox").unbind('keyup').keyup(function (event) {
                if (event.keyCode === 13) {
                    var your_answer = $('#answerBox').val();
                    if (your_answer.localeCompare(current_answer) === 0) {
                        $("#answerBox").css("backgroundColor", "#FFFFFF");
                        goodAnswers = goodAnswers + 1;
                        // Mark as a good review only when it wasn't marked bad before
                        if(!badWords.includes(current_word)){
                            addWordToReviews("good")
                        }
                        setProgressBars();
                        moveToNextWord();
                    } else {
                        badWords.push(current_word)
                        $("#answerBox").css("backgroundColor", "red");
                        $("#question_word").html(current_word + " - " + current_answer);
                        /*
                        Used to avoid repeats
                        */
                        if (!words.includes(element)) {
                            badAnswers = badAnswers + 1;
                            totalQuestions = totalQuestions + 1;
                            setProgressBars();
                            addWordToReviews("bad")
                            words.unshift(element);
                        }
                    }
                }
            });
        }

         moveToNextWord();

        function addWordToReviews(mode = ""){
            if(mode == "good"){
                $.ajax({
                    url: '/content/addtoreviews',
                    type: 'POST',
                    data: { lang1: lang1, lang2 : lang2, word: current_answer, translation: current_word, extra: "", mode: "good" },
                    success: function(r){ return false; }
                    });
                }
            else if(mode == "bad"){
                $.ajax({
                    url: '/content/addtoreviews',
                    type: 'POST',
                    data: { lang1: lang1, lang2 : lang2, word: current_answer, translation: current_word, extra: "", mode: "bad" },
                        success: function(r){ return false; }
                    });
                }
            }
    });

</script>

</body>
</html>
