<div id="contents"></div>

<div id="course-id" data-course-id="<%= @course.id %>"></div>
<div id="lesson-id" data-lesson-id="<%= @lesson.id %>"></div>

<% if @content.size == nil || @content.size == 0 %>
  <div class="alert alert-warning" role="warning">
    <h4 class="alert-heading">No content found!</h4>
    <p><strong>Please add at least one lesson content!</strong></p>
  </div>
  <br/>
<% else %>
  <h2>Editing <%= @lesson.name %></h2>
<% end %>

<div class="lesson-list"></div>
<ul class="list-group" id="ul-content">
  <% @content.each do |content| %>
    <li class="list-group-item" id="<%= @lesson.id %>" data-course-id="<%=@course.id%>" data-lesson-id="<%=@lesson.id%>" data-content-id="<%=content.id%>" >
      <div class="input-group mb-3">
        <input id="content-name<%=content.id %>" type="text" class="form-control" placeholder="" aria-label="Content name" aria-describedby="basic-addon2" value="<%= content.name %>">
      <div class="input-group-append">
        <select id="datatype<%=content.id %>" class="form-select" aria-label="Default select example" value="<%= content.datatype %>">
          <option value="wordlist" <%= content.datatype == "wordlist" ? "selected" : "" %>>Wordlist</option>
          <option value="phrases" <%= content.datatype == "phrases" ? "selected" : "" %>>Phrases</option>
          <option value="tutorial" <%= content.datatype == "tutorial" ? "selected" : "" %>>Tutorial</option>
          <option value="exercise" <%= content.datatype == "exercise" ? "selected" : "" %>>Exercise</option>
          <option value="text" <%= content.datatype == "text" ? "selected" : "" %>>Text</option>
          <option value="dialogue" <%= content.datatype == "dialogue" ? "selected" : "" %>>Dialogue</option>
          <option value="audio" <%= content.datatype == "audio" ? "selected" : "" %>>Audio</option>
          <option value="video" <%= content.datatype == "video" ? "selected" : "" %>>Video</option>
        </select>
        </div>
      </div>
      <div class="form-group">
        <br/><textarea class="form-control" style="min-width: 100%" id="content<%=content.id %>" rows="12"><%= content.content %></textarea>
      </div>
      <p align="center"><a class="btn" href='javascript:void(0)' onclick="updateContent(<%=content.id%>)"><i class="fas fa-2x fa-check-circle icon-align-center"></i></a>&nbsp;&nbsp;<a class="btn" href='javascript:void(0)' onclick="deleteContent(<%=content.id%>)"><i class="fas fa-2x fa-trash icon-align-center"></i></a></p></li>
  <% end %>
</ul>
<br/>
<div class="input-group mb-3">
  <input id="new-content-name" type="text" class="form-control" placeholder="" aria-label="Content name" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <select id="content-select" class="form-select" aria-label="">
        <option value="wordlist">Wordlist</option>
        <option value="phrases">Phrases</option>
        <option value="tutorial">Tutorial</option>
        <option value="exercise">Exercise</option>
        <option value="text">Text</option>
        <option value="dialogue">Dialogue</option>
        <option value="audio">Audio</option>
        <option value="video">Video</option>
    </select>
    <br/>
  </div>
  <br/>
  <textarea class="form-control" style="min-width: 100%" id="new-content-area" rows="12"></textarea><br/><br/>
  <button id="add-new-content" data-lesson-id="<%=@lesson.id%>" data-course-id="<%=@course.id %>" class="btn btn-info btn-lg btn-block" type="button">Add content</button>
</div>
<button id="save-content-data-button" type="button" class="btn btn-primary btn-lg btn-block">Save content order</button>

</div>

<script type="text/javascript">

    function saveNewName(lessonId, courseId){
        var newValue = $("#input"+lessonId).val().trim();
        $.ajax({
            url: '/lesson/rename',
            type: 'PATCH',
            data: { course_id: courseId, lesson_id: lessonId, new_name: newValue, authenticity_token: $('[name="csrf-token"]')[0].content },
            success: function(r){ location.reload() }
        });
    }

    function editLesson(lessonId, courseId){
        var oldName = $("#"+lessonId).text().trim();
        $("#"+lessonId).html("<div class=\"input-group mb-3\">"+
            "<input id=\"input"+lessonId+"\" type=\"text\" class=\"form-control\" value=\""+oldName+"\" placeholder=\""+oldName+"\" aria-label=\""+oldName+"\" aria-describedby=\"basic-addon2\">"+
            "<div class=\"input-group-append\">"+
            "<button onclick=\"saveNewName("+lessonId+",<%=@course.id %>)\" class=\"btn btn-outline-secondary\" type=\"button\">Save</button>"+
            "</div></div>");
    }
</script>

<script type="text/javascript">
    function deleteLesson(lessonId, courseId){
        $.ajax({
            url: '/lesson/delete',
            type: 'DELETE',
            data: { course_id: courseId, lesson_id: lessonId, authenticity_token: $('[name="csrf-token"]')[0].content },
            beforeSend:function(){
                return confirm("Are you sure you want to delete this lesson?");
            },
            success: function(r){ location.reload() }
        });

    }
</script>

<script tpye="text/javascript">
  function updateContent(contentId){
      let selectedValue = $("#datatype"+contentId).val();
      let datatype = selectedValue;
      var courseId = <%= @course.id %>;
      var lessonId = <%= @lesson.id %>;
      var newName = $("#content-name"+contentId).val();
      var newContent = $("#content"+contentId).val();
      var failed = false;
      if(newName === ""){
          alert("Fill new content name!");
          failed = true;
      }
      if(newContent === ""){
          alert("Fill content data!");
          failed = true;
      }
      if(failed == false) {
          switch (selectedValue) {
              case "wordlist":
                  break;
              case "phrases":
                  break;
              case "tutorial":
                  break;
              case "exercise":
                  break;
              case "text":
                  break;
              case "dialogue":
                  break;
              case "audio":
                  break;
              case "video":
                  break;
              default:
                  failed = true;
          }
          // alert("Course id: " + courseId + "\nlessonId: " + lessonId + "\nnewName: " + newName + "\nnewContent: " + newContent+"\ncontentId:"+contentId+"\ndatatype: "+datatype);
      }
      if(failed == false){
          $.ajax({
              url: '/content/updatecontent',
              type: 'PATCH',
              data: { course_id: courseId, lesson_id: lessonId, content_id: contentId, name: newName, content: newContent, datatype: datatype, authenticity_token: $('[name="csrf-token"]')[0].content },
              success: function(r){ location.reload() }
          });
      }
  }
  function deleteContent(contentId){
      var courseId = <%= @course.id %>;
      var lessonId = <%= @lesson.id %>;
      $.ajax({
          url: '/content/deletecontent',
          type: 'DELETE',
          beforeSend:function(){
              return confirm("Are you sure you want to delete this content?");
          },
          data: { course_id: courseId, lesson_id: lessonId, content_id: contentId, authenticity_token: $('[name="csrf-token"]')[0].content },
          success: function(r){ location.reload() }
      });
  }
  function selectElement(id, valueToSelect) {
      let element = document.getElementById(id);
      element.value = valueToSelect;
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
      $("#add-new-content").on('click', function(){
          let selectedValue = $("#content-select").val();
          let datatype = selectedValue;
          var courseId = <%= @course.id %>;
          var lessonId = <%= @lesson.id %>;
          var newName = $("#new-content-name").val();
          var newContent = $("#new-content-area").val();
          var failed = false;
          if(newName === ""){
              alert("Fill new content name!");
              failed = true;
          }
          if(newContent === ""){
              alert("Fill content data!");
              failed = true;
          }
          if(failed == false) {
              switch (selectedValue) {
                  case "wordlist":
                      break;
                  case "phrases":
                      break;
                  case "tutorial":
                      break;
                  case "exercise":
                      break;
                  case "text":
                      break;
                  case "dialogue":
                      break;
                  case "audio":
                      break;
                  case "video":
                      break;
                  default:
                      failed = true;
              }
              // alert("Course id: " + courseId + "\nlessonId: " + lessonId + "\nnewName" + newName + "\nnewContent: " + newContent);
          }
          if(failed == false){
              $.ajax({
                  url: '/content/addnewcontent',
                  type: 'POST',
                  data: { course_id: courseId, lesson_id: lessonId, name: newName, content: newContent, datatype: datatype },
                  success: function(r){ location.reload() }
              });
          }
      })
  })
</script>