<% if @content.size == nil || @content.size == 0 %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No elements found!</h4>
    <strong>This lesson is not completed yet!</strong>
  </div>
  <br/>
<% else %>
  <h2><%= if @lesson != nil
    @lesson.name
    else
      if @course != nil
        @course.name
      else
        ""
      end
  end %> <%=
    if params[:content_type] == "tutorials"
      " - Tutorials"
      elsif params[:content_type] == "phrases"
      " - Phrases"
    elsif params[:content_type] == "words"
      " - Wordlists"
    elsif params[:content_type] == "exercises"
      " - Exercises"
    elsif params[:content_type] == "texts"
      " - Texts"
    elsif params[:content_type] == "dialogues"
      " - Dialogues"
    elsif params[:content_type] == "audios"
      " - Audios"
    elsif params[:content_type] == "videos"
      " - Videos"
    else
      ""
    end
  %></h2>
<% end %>
<div id="contents"></div>
<div class="content-list"></div>
<ul class="list-group">
  <% if params[:course_id] == nil || params[:course_id].blank?
       course_id = cookies[:course_id]
       else
         course_id = params[:course_id]
     end
  %>
<% @content.each do |content| %>
    <li class="list-group-item"><%= link_to content.name, "/content/#{params[:course_id]}/#{content.id}/" %></li>
 <% end %>
</ul>
</div>