<h2><%= @content.name %></h2>
<% if @content.datatype == "tutorial" %>

  <!-- Tutorials -->

  <div id="notes"></div>

  <div class="content-note">
    <p>
      <%= @content.content.html_safe %>
    </p>
  </div>

  <% elsif @content.datatype == "wordlist" %>

  <!-- Wordlist -->

  <% word_count = 0 %>
  <% if cookies[:lang1] != nil
       lang1 = cookies[:lang1]
     else
       lang1 = "en"
     end
     if cookies[:lang2] != nil
       lang2 = cookies[:lang2]
     else
         lang2 = "pl"
     end
  %>

  <% script_contents = "$(document).ready(function(){" %>
  <% add_all_script_contents = "$(document).ready(function(){\n$('#add_all').on('click',function(){\n" %>
  <% word_table = []
     answers = []
  %>
  <div class="content-words">
    <table class="table table-bordered">
      <thead>
      <% words = @content.content
       words.each_line do |x|
         word_count += 1
         if x.include?(";")
          a = x.split(";")
          %><tr><td id='word<%=word_count.to_s%>'><%= a[0] %></td><td><%= a[1] %></td></tr>
      <% a[0] = a[0].strip; a[1] = a[1].strip;
        word_table << [a[0],a[1]]
        script_contents = script_contents + "
	$('#word#{word_count}').on('click', function(){
		$.ajax({
			url: '/content/addtoreviews',
			type: 'POST',
			data: { lang1: \"#{lang1}\", lang2 : \"#{lang2}\", word: \"#{a[0].strip}\", translation: \"#{a[1].strip}\", extra: \"\", mode: \"new\" },
			success: function(r){ return false; }
		});
		return false;
	});\n"
      add_all_script_contents << "$.ajax({
			url: '/content/addtoreviews',
			type: 'POST',
			data: { lang1: \"#{lang1}\", lang2 : \"#{lang2}\", word: \"#{a[0].strip}\", translation: \"#{a[1].strip}\", extra: \"\", mode: \"new\" },
			success: function(r){ return false; }
		});\n" %>
      <% end %>
      <% end %>
      </tbody>
      </table>
     <button id="add_all" type="button" class="btn btn-primary btn-lg btn-block">Add all words to reviews</button><br/>
    <button id ="learn_all" type="button" class="btn btn-secondary btn-lg btn-block">Learn these words</button>
  </div>
  <%
    # Generate Javascript arrays for word table and answers
    answers_js = "var answers = ["
    words_js = "var words = ["
    questions_js = "var questions = ["
    word_table.each{|a|
      answers_js << "\"#{a[1]}\","
      words_js << "{key: '#{a[0]}', val: '#{a[1]}'},"
      questions_js << "\"#{a[0]}\","
    }
    words_js[-1] = "];"
    answers_js[-1] = "];"
    questions_js[-1] = "];"
  %>

  <% script_contents = script_contents + "});" %>
  <% add_all_script_contents = add_all_script_contents + "\nalert(\"Wszystkie słówka zostały dodane do powtórek.\");\nreturn false;\n
	})});"%>

  <script type="text/javascript">
      $(document).ready(function(){$('#learn_all').on('click',function(){
          // Hide content
          $(".content-words").html("<br/><h2 id=\"question_word\" style=\"text-align: center\">Question</h2><br/>" +
              "<button id=\"answer1\" type=\"button\" class=\"btn btn-primary btn-lg btn-block\">Answer 1</button><br/>" +
              "<button id=\"answer2\" type=\"button\" class=\"btn btn-primary btn-lg btn-block\">Answer 2</button></br>" +
              "<button id=\"answer3\" type=\"button\" class=\"btn btn-primary btn-lg btn-block\">Answer 3</button><br/>" +
              "<button id=\"answer4\" type=\"button\" class=\"btn btn-primary btn-lg btn-block\">Answer 4</button></br>" +
              "<div id=\"step-progress-bar\" class=\"progress-bar bg-info\" role=\"progressbar\" style=\"width: 0%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\">0%</div></div>" +
              "<div id=\"total-progress-bar\" class=\"progress-bar bg-warning\" role=\"progressbar\" style=\"width: 0%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\">0%</div></div>");

          <%= words_js.html_safe %>
          <%= answers_js.html_safe %>
          <%= questions_js.html_safe %>

          /**
           * Clone words array.
           * words -> First step (foreign to native)
           * words2 -> Second step (native to foreign)
           * words3 -> Third step (writing)
           */

          words2 = JSON.parse(JSON.stringify(words));
          words3 = JSON.parse(JSON.stringify(words));

          // Set current learn phase
          let learningPhase = 0;

          /*
          Function used to shuffle an array
           */

          function shuffle(array) {
              let counter = array.length;
              // While there are elements in the array
              while (counter > 0) {
                  // Pick a random index
                  let index = Math.floor(Math.random() * counter);
                  // Decrease counter by 1
                  counter--;
                  // And swap the last element with it
                  let temp = array[counter];
                  array[counter] = array[index];
                  array[index] = temp;
              }
              return array;
          }

          /**
          Shuffle words in given array
           */

          words = shuffle(words);
          words2 = shuffle(words2);
          words3 = shuffle(words3)

          let answer_indices = [];
          var element;
          let current_word = "";
          let current_answer = "";
          var correctAnswer = -1;

          let goodAnswers = 0;
          let badAnswers = 0;
          let totalQuestions = words.length;

          learnMode = 0;

          /*
          Calculate percentage value (for progressbar)
           */

          function getPercentage(current, total){
              return Math.floor(current*100/total);
          }

          /**
           * Move to next word
           */

          function moveToNextWord(){
              if(learningPhase == 0){
                  getNextWord(words)
              } else if(learningPhase == 1){
                  getNextWord(words2)
              } else if(learningPhase == 2){
                  getNextWord(words3)
              }
          }

          /** Check if file exists
           *
           */

          function doesFileExist(urlToFile) {
              var xhr = new XMLHttpRequest();
              xhr.open('HEAD', urlToFile, false);
              xhr.send();
              if (xhr.status == "404") {
                  return false;
              } else {
                  return true;
              }
          }

          /**
           * Move to next learning phase or finish learning session
           */

          function nextLearningPhase(){
              if(learningPhase == 0){
                  goodAnswers = 0;
                  badAnswers = 0;
                  totalQuestions = words2.length;
                  learningPhase = 1;
              } else if(learningPhase == 1){
                  goodAnswers = 0;
                  badAnswers = 0;
                  totalQuestions = words3.length;
                  $(".content-words").html("<br/><h2 id=\"question_word\" style=\"text-align: center\">Question</h2><br/>" +
                    "<div class=\"input-group input-group-lg\">" +
                  "<input type=\"text\" id=\"answerBox\" class=\"form-control\" aria-label=\"Label\" aria-describedby=\"inputGroup-sizing-sm\">" +
                  "</div><br/><br/>" +
                    "<div id=\"step-progress-bar\" class=\"progress-bar bg-info\" role=\"progressbar\" style=\"width: 0%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\">0%</div></div>" +
                  "<div id=\"total-progress-bar\" class=\"progress-bar bg-warning\" role=\"progressbar\" style=\"width: 0%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\">0%</div></div>");
                  learningPhase = 2;
              } else if(learningPhase == 2){
                 $(".content-words").html("<br/><div class=\"alert alert-success\" role=\"alert\"><b>You have succesfully completed this lesson!</b></div><br/><br/>" +
                   "<div id=\"step-progress-bar\" class=\"progress-bar bg-info\" role=\"progressbar\" style=\"width: 100%;\" aria-valuenow=\"100\" aria-valuemin=\"0\" aria-valuemax=\"100\">100%</div></div>" +
                  "<div id=\"total-progress-bar\" class=\"progress-bar bg-warning\" role=\"progressbar\" style=\"width: 100%;\" aria-valuenow=\"100\" aria-valuemin=\"0\" aria-valuemax=\"100\">100%</div></div>");
                  setProgressBars();
              }
          }

          /**
          Get next word and clear old variables
           First phase - words
           Second phase - words2
           Third phase - words3
           */

          function getNextWord(words){
              answer_indices = [];
              if(learningPhase == 0) {
                  if (words.length > 0) {
                      element = words.pop();
                  } else {
                      nextLearningPhase();
                      moveToNextWord();
                  }
              } else if(learningPhase == 1){
                  if (words2.length > 0) {
                      element = words2.pop();
                  } else {
                      nextLearningPhase();
                      moveToNextWord();
                  }
              } else if(learningPhase == 2){
                  if (words3.length > 0) {
                      element = words3.pop();
                  } else {
                      nextLearningPhase();
                      moveToNextWord();
                  }
              }

              if(learningPhase == 0) {
                  current_word = element.key;
                  current_answer = element.val;
                  answer_indices.push(answers.indexOf(current_answer));
              } else if (learningPhase == 1){
                  // Warning! Values are reversed!
                  current_word = element.val;
                  current_answer = element.key;
                  answer_indices.push(questions.indexOf(current_answer));
              } else if(learningPhase == 2){
                  // Warning! Values are reversed!
                  current_word = element.val;
                  current_answer = element.key;
              }

              let filename = "/assets/";
              // Audio engine
              if(learningPhase == 0) {
                  filename = "/assets/<%=lang1%>_" + current_word + ".mp3";
                  try {
                      var audio = new Audio(filename);
                      audio.play();
                  } catch (error) {
                      // Do nothing
                  }
              }

              if (learningPhase == 0 || learningPhase == 1){
                  clearAnswerBackground();
                  getAnswerIndices();
                  setAnswerFields();
              } else if (learningPhase == 2){
                  prepareWritingField();
              }
          }

          /*
          Clear answer background
          */

          function clearAnswerBackground(){
              $("#answer1").css("background-color", "#0066FF");
              $("#answer2").css("background-color", "#0066FF");
              $("#answer3").css("background-color", "#0066FF");
              $("#answer4").css("background-color", "#0066FF");
          }

          /*
          Paint answer fields
          */

          function setAnswerFields(){
              if(learningPhase == 0) {
                  $("#question_word").html(current_word);
                  correctAnswer = Math.floor(Math.random() * 4);
                  if (correctAnswer == 0) {
                      $("#answer1").html(answers[answer_indices[0]]);
                      $("#answer2").html(answers[answer_indices[1]]);
                      $("#answer3").html(answers[answer_indices[2]]);
                      $("#answer4").html(answers[answer_indices[3]]);
                  } else if (correctAnswer == 1) {
                      $("#answer1").html(answers[answer_indices[1]]);
                      $("#answer2").html(answers[answer_indices[0]]);
                      $("#answer3").html(answers[answer_indices[2]]);
                      $("#answer4").html(answers[answer_indices[3]]);
                  } else if (correctAnswer == 2) {
                      $("#answer1").html(answers[answer_indices[1]]);
                      $("#answer2").html(answers[answer_indices[2]]);
                      $("#answer3").html(answers[answer_indices[0]]);
                      $("#answer4").html(answers[answer_indices[3]]);
                  } else if (correctAnswer == 3) {
                      $("#answer1").html(answers[answer_indices[1]]);
                      $("#answer2").html(answers[answer_indices[2]]);
                      $("#answer3").html(answers[answer_indices[3]]);
                      $("#answer4").html(answers[answer_indices[0]]);
                  }
              } else if (learningPhase == 1){
                  $("#question_word").html(current_word);
                  correctAnswer = Math.floor(Math.random() * 4);
                  if (correctAnswer == 0) {
                      $("#answer1").html(questions[answer_indices[0]]);
                      $("#answer2").html(questions[answer_indices[1]]);
                      $("#answer3").html(questions[answer_indices[2]]);
                      $("#answer4").html(questions[answer_indices[3]]);
                  } else if (correctAnswer == 1) {
                      $("#answer1").html(questions[answer_indices[1]]);
                      $("#answer2").html(questions[answer_indices[0]]);
                      $("#answer3").html(questions[answer_indices[2]]);
                      $("#answer4").html(questions[answer_indices[3]]);
                  } else if (correctAnswer == 2) {
                      $("#answer1").html(questions[answer_indices[1]]);
                      $("#answer2").html(questions[answer_indices[2]]);
                      $("#answer3").html(questions[answer_indices[0]]);
                      $("#answer4").html(questions[answer_indices[3]]);
                  } else if (correctAnswer == 3) {
                      $("#answer1").html(questions[answer_indices[1]]);
                      $("#answer2").html(questions[answer_indices[2]]);
                      $("#answer3").html(questions[answer_indices[3]]);
                      $("#answer4").html(questions[answer_indices[0]]);
                  }
              }
          }

          /**
          Prepare writing box
           */

          function prepareWritingField(){
              $("#question_word").html(current_word);
              // $("#answerBox").val("");
              document.querySelector("#answerBox").value="";
              setTimeout(()=>{
                  $("#answerBox").unbind('keyup').keyup(function(event) {
                      if (event.keyCode === 13) {
                          var your_answer = $('#answerBox').val();
                          if(your_answer.localeCompare(current_answer)===0){
                              $("#answerBox").css("backgroundColor", "#FFFFFF");
                              goodAnswers = goodAnswers + 1;
                              setProgressBars();
                              moveToNextWord();
                          } else {
                              $("#answerBox").css("backgroundColor", "red");
                              $("#question_word").html(current_word + " - " + current_answer);
                              /*
                              Used to avoid repeats
                              */
                              if(!words3.includes(element)) {
                                  badAnswers = badAnswers + 1;
                                  totalQuestions = totalQuestions + 1;
                                  setProgressBars();
                                  words3.unshift(element);
                              }
                          }
                      }
                  });
                  $("#answerBox").focus();
              },100);
          }

          /**
           * Calculate percentage and set corresponding progress bars
           */

          function setProgressBars(){
              let percent;
              if(learningPhase == 0){
                  percent = getPercentage(goodAnswers,totalQuestions);
              } else if (learningPhase == 1 || learningPhase == 2){
                  percent = getPercentage(goodAnswers-1,totalQuestions);
              }
              $("#step-progress-bar").css("aria-valuenow", "\""+percent+"\"");
              $("#step-progress-bar").css('width', percent + "%");
              $("#step-progress-bar").html(percent+ " %");

              /**
               Calculate total progress bar percentage
               First step: 0% + step percent / 3
               Second step: 33% + step percent / 3
               Third phase: 67% + step percent / 3
               */
              let secondProgressBarStep = percent/3+(learningPhase*33);
              if(learningPhase == 1 || learningPhase == 2) {
                  secondProgressBarStep = secondProgressBarStep + 1;
              }
              secondProgressBarStep = Math.floor(secondProgressBarStep);

              $("#total-progress-bar").css("aria-valuenow", "\""+secondProgressBarStep+"\"");
              $("#total-progress-bar").css('width', secondProgressBarStep + "%");
              $("#total-progress-bar").html(secondProgressBarStep+ " %");
          }

          /*
          Check if user have selected good answer
          */

          function checkAnswer(answerId){
              if(correctAnswer == answerId){
                  goodAnswers = goodAnswers + 1;
                  // Set percentage
                  setProgressBars();

                  // Play audios
                  let filename;
                  // learningPhase == 0 -> Play the audio before
                  // learningPhase == 1 -> Play the audio after
                  // learningPhase == 2 -> Play the audio in other method
                  if(learningPhase == 1) {
                      filename = "/assets/<%=lang1%>_" + current_answer + ".mp3"
                  }
                  try {
                      var audio = new Audio(filename);
                      audio.play();
                  } catch (error){
                      // Do nothing
                  }
                  moveToNextWord();
              } else {
                  if(learningPhase == 0) {
                      words.unshift(element);
                  } else if (learningPhase == 1){
                      words2.unshift(element);
                  } else if (learningPhase == 2){
                      words3.unshift(element);
                  }
                  badAnswers = badAnswers + 1;
                  totalQuestions = totalQuestions +1;
                  if(correctAnswer == 0){
                      $("#answer1").css("background-color", "green");
                      $("#answer2").css("background-color", "red");
                      $("#answer3").css("background-color", "red");
                      $("#answer4").css("background-color", "red");
                  } else if(correctAnswer == 1){
                      $("#answer1").css("background-color", "red");
                      $("#answer2").css("background-color", "green");
                      $("#answer3").css("background-color", "red");
                      $("#answer4").css("background-color", "red");
                  } else if(correctAnswer == 2){
                      $("#answer1").css("background-color", "red");
                      $("#answer2").css("background-color", "red");
                      $("#answer3").css("background-color", "green");
                      $("#answer4").css("background-color", "red");
                  } else if(correctAnswer == 3){
                      $("#answer1").css("background-color", "red");
                      $("#answer2").css("background-color", "red");
                      $("#answer3").css("background-color", "red");
                      $("#answer4").css("background-color", "green");
                  }
              }
          }

          /*
          Get indices for answers. In short: get missing 3 wrong answers indices
           */

          function getAnswerIndices(){
              var i;
              var index;
              let answer;
              if(learningPhase == 0 || learningPhase == 2) {
                  while (answer_indices.length < 4) {
                      let index = Math.floor(Math.random() * answers.length)
                      if (!(answer_indices.includes(index))) {
                          answer_indices.push(index);
                      }
                  }
              } else {
                  while (answer_indices.length < 4) {
                      let index = Math.floor(Math.random() * questions.length)
                      if (!(answer_indices.includes(index))) {
                          answer_indices.push(index);
                      }
                  }
              }
              console.log('Answer indices: ' + answer_indices.toString());
              setAnswerFields();
              console.log('Correct answer: '+correctAnswer);
          }

          moveToNextWord();

          $("#answer1").click(function(){
              checkAnswer(0);
          });
          $("#answer2").click(function(){
              checkAnswer(1);
          });
          $("#answer3").click(function(){
              checkAnswer(2);
          });
          $("#answer4").click(function(){
              checkAnswer(3);
          });

          /**
           * Key answers to phase 1 and phase 2
           */

          $(document).keypress(function(e) {
              if(learningPhase == 0 || learningPhase == 1){
                  if(e.which === 49 || e.which === 97) { // key 1 or num 1
                      checkAnswer(0);
                  } else if (e.which === 50 || e.which === 98) { // key 2 or num 2
                      checkAnswer(1);
                  } else if (e.which === 51 || e.which === 99) { // key 3 or num 3
                      checkAnswer(2);
                  } else if (e.which === 52 || e.which === 100) { // key 4 or num 4
                      checkAnswer(3);
                  }
              }
          });

      })});

  </script>

  <% unless session[:user_id] == 0 || session[:user_id] == nil || session[:user_id] == "" %>
    <script type="text/javascript">
        <%= script_contents.html_safe %>
        <%= add_all_script_contents.html_safe %>
    </script>
  <% end %>

<% elsif @content.datatype == "phrases" %>

  <!-- Phrases -->

  <div id="phrases"></div>
  <div class="content-phrases">
    <p>
    <ul class="list-group">
      <% phrases = @content.content
         phrases.each_line do |x|
           if x.include?(";")
             a = x.split(";") %>
             <li class="list-group-item"><strong><%= a[0] %></strong><br/><%= a[1] %></li>
        <% end %>
      <% end %>
    </ul>
    </p>
  </div>

<% elsif @content.datatype == "exercise" %>

  <!-- Exercises -->
  <!-- TODO: Correct display of exercises -->
  <!-- TODO: Implement this datatype -->

  <div id="exercises"></div>
  <div class="content-exercise">
      <% exercises = @content.content
         # TODO : Write exercise content
         questions = "var questions = ["
         correct_answers = "var correct_answers = ["
         other_answers = "var other_answers = ["
         ids = "var ids = ["
         current_id = 0;
         exercises.each_line do |x|
           if x.include?(";")
             a = x.split(";")
             question = a[0].strip
             correct_answer = a[1].strip
             other_answer = a[2..-1].join(";")
             questions << "\"#{question}\","
             correct_answers << "\"#{correct_answer}\","
             other_answers << "\"#{other_answer}\","
             ids << "#{current_id},"
             current_id = current_id + 1
           end
         end
         questions[-1] = "];"
         correct_answers[-1] = "];"
         other_answers[-1] = "];"
         other_answers.gsub!("\n\"","\"")
         ids[-1] = "];"
      %>

    <script><%= questions.html_safe+"\n"+correct_answers.html_safe+"\n"+other_answers.html_safe+"\n"+ids.html_safe %></script>

<script type="text/javascript">

  var correct_answer;
  var current_element;

    function shuffle(array) {
        let counter = array.length;
        // While there are elements in the array
        while (counter > 0) {
            // Pick a random index
            let index = Math.floor(Math.random() * counter);
            // Decrease counter by 1
            counter--;
            // And swap the last element with it
            let temp = array[counter];
            array[counter] = array[index];
            array[index] = temp;
        }
        return array;
    }

  function createAnswerButtons(n){
      var newHtml = "<br/><h2 id=\"question_word\" style=\"text-align: center\">Question</h2><br/>";
      var newScript = ""
        for(i=1;i<=n;i++){
            newHtml = newHtml + "<button id=\"answer"+i+"\" type=\"button\" class=\"btn btn-primary btn-lg btn-block\">Answer "+i+"</button><br/>";
            newScript = newScript + "$(\"#answer"+i+"\").click(function(){ checkExerciseAnswer("+i+","+n+"); });\n";
        }
        newScript = "<script>"+newScript+"<\/script>"
      $(".content-exercise").html(newHtml+"\n"+newScript);
  }

  function fillAnswerButtons(id){
      $("#question_word").html(questions[id])
      var answers_split = other_answers[id].split(";")
      shuffle(answers_split);
      var answers_size = answers_split.length+1;
      // Liczona od 1 do answers_size
      correct_answer = 1+Math.floor(Math.random() * (answers_size));

      var cur_id=0;
      // Fill answers
      for(i=1;i<=answers_size;i++){
          if(i == correct_answer){
              $("#answer"+i).html(correct_answers[id]);
          } else {
              $("#answer" + i).html(answers_split[cur_id]);
              cur_id++;
          }
      }
  }

  function getNextQuestion() {
      if (ids.length > 0){
          current_element = ids.pop();
          var n = other_answers[current_element].split(";").length + 1
          createAnswerButtons(n);
          fillAnswerButtons(current_element);
      } else {
          $(".content-exercise").html("<br/><div class=\"alert alert-success\" role=\"alert\"><b>You have succesfully completed this lesson!</b></div><br/><br/>");
      }
  }

    /*       Check if user have selected good answer
            You have to pass answerId and n - number of possible answers
    */

    function checkExerciseAnswer(answerId,n){
        if(correct_answer == answerId){
            getNextQuestion();
        } else {
            // Get question ID back
            ids.unshift(current_element)

            for (i = 1; i <= n; i++) {
                if (correct_answer == i) {
                    $("#answer" + i).css("background-color", "green");
                } else {
                    $("#answer" + i).css("background-color", "red");
                }
            }
        }
    }

  function playExercise() {
      // Number of questions. We pop from ids table. We use questions, correct_answers and answers as read-only and
      // we do not modify these tables. We modify ids table during session.
      var no_questions = ids.length
      shuffle(ids);
      // TODO : continue
      getNextQuestion();
  }
</script>

    <script type="text/javascript">
      $(document).ready(function(){
          playExercise();
          });
    </script>
  </div>

  <% elsif @content.datatype == "text" %>

    <!-- Texts -->
    <!-- Same as tutorial, used only to categorize -->

    <div id="texts"></div>

    <div class="content-text">
      <p>
        <%= simple_format(@content.content) %>
      </p>
    </div>

<% elsif @content.datatype == "dialogue" %>

  <!-- Dialogues -->
  <!-- Very similar as phrases, used only to categorize -->
  <!-- Slightly different layout -->
  <!-- TODO: Implement this datatype -->

  <div id="dialogues"></div>
  <div class="content-dialogues">
     <% phrases = @content.content
         dialogue = ""
         translation = ""
         phrases.each_line do |x|
           if x.include?(";")
             a = x.split(";")
             dialogue << "- #{a[0]}\n<br/>"
             translation << "- #{a[1]}\n<br/>"
           end
         end
         %>
    <p><%= dialogue.html_safe %></p><hr/>
    <p><%= translation.html_safe %></p>
  </div>

<% elsif @content.datatype == "audio" %>

  <!-- Audios -->

  <div id="audio"></div>

  <div class="content-audio">
    <p>
      <audio controls autoplay>
        <source src="<%= @content.content %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </p>
  </div>

<% elsif @content.datatype == "video" %>

  <!-- Videos -->

  <div id="video"></div>

  <div class="content-video">
    <p>
    <% if @content.content.include?("youtube.com")
          embed_url = "https://www.youtube.com/embed/"+@content.content.split("?v=")[1].strip
        else
          embed_url = @content.content
        end %>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= embed_url %>" allowfullscreen></iframe>
    </div>
    </p>
  </div>

<% end %>

<% if @next_element != nil && @next_element != 0 %>

  <br/>
  <a href="<%= "/content/"+@next_element %>"><i class="fas fa-arrow-circle-right fa-2x"></i><b>Next element</b></a>

<% end %>