<!-- Tutaj treść zawartości -->
			</content>
		</article>
	</div> <!-- end content -->

	<!-- Wybór kursu/języka (sidebar) -->
	<aside class="left-sidebar" id="left-sidebar">
		<div id="A" class="col-xs-12 col-sm-12 "></div>
			<h3>Select language</h3>
			<!-- Dummy language list -->
        <%
          @languages = Language.all
        %>
			<ul class="list-group">
        <% @languages.each do |language| %>
          <li class="list-group-item">
						<% if File.exist?("app/assets/images/lang_#{language.lang_code}.png") %>
							<%= image_tag("lang_#{language.lang_code}.png", :alt=>language.lang_code) %><%= link_to language.name, "/courses/?target_lang=#{language.lang_code}" %></li>
						<% else %>
							<%= image_tag("lang_ot.png", :alt=>language.lang_code, :style => "display: none") %><%= link_to language.name, "/courses/?target_lang=#{language.lang_code}" %></li>
						<% end %>
        <% end %>
			</ul>
	</aside>
	
	<!-- Stopka -->
	<footer class="footer">
		<p>Copyright &copy; Nikodem Solarz 2021</p>
	</footer>

<script type="text/javascript">
	$(document).ready(function() {
		var w = $(window).width();
		if (w < 768) {
			$("#mainnav").appendTo(".left-sidebar");
			$("#mainnav").addClass("header");
			$("#mainnav").addClass("bottomnav");

		} else {
			$("#mainnav").appendTo(".mainlogo");
			$("#mainnav").addClass("header");
			$("#mainnav").removeClass("bottomnav");

		}
		$(function () {
			$(window).resize(function () {
				var w = $(window).width();
				if (w < 768) {
					$("#mainnav").appendTo(".left-sidebar");
					$("#mainnav").addClass("bottomnav");
				} else {
					$("#mainnav").appendTo(".mainlogo");
					$("#mainnav").removeClass("bottomnav");
				}
			});
		});
	});
</script>

</body>

</html>
