<!DOCTYPE html>
<html lang="en">

<head>
	<title>Lingelia - Your language trainer</title>
	<meta charset="utf-8" />
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>

<body class="body">

	<!-- Load javascripts -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- Logo i nawigacja -->
	<header class="header">
		<div class="mainlogo" id="mainlogo">
			<%= image_tag ("logo.png") %>
			<h1>Your linguistic resource</h1>
		</div>
	</header>
	<header class="header" id="mainheader">
		<div class="mainmenu">
		<nav id="mainnav"><ul>

      <li><%= link_to "Courses", "/courses/" %></li>
      <% if $selected_course_id == "" || $selected_course_id == "0" || $selected_course_id == nil # show disabled links%>
         <% else # show normal links %>
        <li><%= link_to "Lessons", "/courses/"+$selected_course_id %></li>
        <li><%= link_to "Wordlists", "/content/"+$selected_course_id+"/?content_type=words" %></li>
				<li><%= link_to "Phrases", "/content/"+$selected_course_id+"/?content_type=phrases" %></li>
				<li><%= link_to "Texts", "/content/"+$selected_course_id+"/?content_type=texts" %></li>
				<li><%= link_to "Dialogues", "/content/"+$selected_course_id+"/?content_type=dialogues" %></li>
        <li><%= link_to "Tutorials", "/content/"+$selected_course_id+"/?content_type=tutorials" %></li>
				<li><%= link_to "Exercises", "/content/"+$selected_course_id+"/?content_type=exercises" %></li>
         <% end %>
			<% if session[:user_id] == nil || session[:user_id] == 0 %>
				<li><%= link_to "Login", "/users/login" %>
				<li><%= link_to "Register", "/users/register" %></li>
			<% else %>
				<li><%= link_to "Reviews", "/reviews" %></li>
				<li><%= link_to "My words", "/words" %></li>
				<% if $selected_course_id.to_i == 12 || $selected_course_id.to_i == 13 # NIKKILA DICTIONARY DEBUG %>
					<li><%= link_to "Dictionary", "/dictionary" %></li>
					<li><%= link_to "Dict editor", "/dictionaries" %></li>
				<% end %>
				<li><%= link_to "Logout (#{session[:user_name]})", "/users/logout" %>
			<% end %>
		</ul></nav>
		</div>
	</header>
	
	<!-- Główna zawartość -->
	<div class="content">
		<article class="topcontent">
